name: Create branch on issue assignment
on:
  workflow_call:

permissions:
  contents: write
  issues: write

jobs:
  create_branch:
    runs-on: self-hosted

    steps:
      - name: Create issue branch
        uses: robvanderleek/create-issue-branch@main
        env:
          # Usiamo il segreto ricevuto
          GITHUB_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}