name: Create branch on issue assignment
on:
  workflow_call: #rende workflow riusabile
    secrets:
      PROJECT_ACCESS_TOKEN:
        description: 'Token di accesso al repository'
        required: true

jobs:
  create_branch:
    runs-on: self-hosted
    # Non parte se manca la dicitura [] (il documento di riferimento della issue) nel titolo dell'issue 
    if: contains(github.event.issue.title, '[') && contains(github.event.issue.title, ']')
    steps:
      - name: Create issue branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}