name: "Edit issue/PR project fields"
on:
  workflow_call:  # rende workflow riusabile
    inputs:
      issue-event:
        type: string
        description: Either 'label', 'open' or 'open-pr'
        required: true

      project:  
        type: string
        description: The GitHub project to consider in the form "ORGANIZATION/NUMBER"
        required: true
      
permissions:
  contents: read  # non so se serva
  issues: write
  repository-projects: write

jobs:
  edit_issue:
    env:
      GH_TOKEN:       ${{ secrets.PROJECT_ACCESS_TOKEN }}
      REPO:           "${{ github.repository }}"
      
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: GlitchHub-Team/actions

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Determine issue/PR number
        run: |
          ISSUE_NUM=${{ github.event.issue.number }}
          PR_NUM=${{ github.event.issue.number }}
          echo 'ELEMENT_NUMBER='${ISSUE_NUM:-$PR_NUM} >> $GITHUB_ENV

      - name: Install deps
        run: pip install -r ./issue-action/requirements.txt

      - name: Execute script (opened PR)
        if: inputs.issue-event == 'open-pr'
        run: python ./issue-action ${{ inputs.project }} "$REPO/$ELEMENT_NUMBER" --role --iteration --pr

      - name: Execute script (opened issue)
        if: inputs.issue-event == 'open'
        run: python ./issue-action ${{ inputs.project }} "$REPO/$ELEMENT_NUMBER" --role --iteration

      - name: Execute script (labeled issue)
        if: inputs.issue-event == 'label'
        run: python ./issue-action ${{ inputs.project }} "$REPO/$ELEMENT_NUMBER" --role 
